nav {
  background-color: #1f1f1f;
  overflow: hidden;
}

nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  float:right;
  padding-bottom: 10px;
}

nav li {
    display: inline-block;
    background-color:#1f1f1f;
    margin:0 10px;
}

nav li a {
  line-height: 60px;
    font-size: 18px;
    font-weight: 700;
    padding: 9px 15px;
   text-decoration: none;
   color: aliceblue;
  
}

nav ul li a:hover {
  color:rgb(107, 9, 220);
    border-radius: 6px;
    box-shadow: 0 0 4px rgb(119, 0, 255),
                0 0 5px rgb(123, 20, 220);
  color: rgb(248, 247, 247);
  
}
nav .logo a{
  color:rgb(255, 255, 255);
    float:left;
    font-size: 27px;
    font-weight:800;
    line-height: 70px;
    padding-left: 15px;
  text-decoration: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
  background-color: #1f1f1f;
  
}
.container h1{
  color: azure;
  position: relative;
  padding-top: 100px;
  font-size: xx-large;
  text-align: center;
  
}
*{
  font-family: "poppins",sans-serif;
}